@-ms-viewport {
  width: device-width;
}


/* ==========================================================================
   Exceptions
   ========================================================================== */
#page {
   zoom: 1;
   filter: progid:DXImageTransform.Microsoft.Shadow(color='#0e293e', Direction=90, Strength=4)
   filter: progid:DXImageTransform.Microsoft.Shadow(color='#0e293e', Direction=180, Strength=4)
   filter: progid:DXImageTransform.Microsoft.Shadow(color='#0e293e', Direction=270, Strength=4)
}
#page-title h1, #page-title div {
  font-weight: 500;
}
.bkg-nav-left,
.bkg-util-left {
  left: -10px;
}
#utility .btn,
#pnav .btn,
.pnl-ctrls .btn {
  background: none;
}