@charset "UTF-8";
@font-face{
  font-family:"Avenir LT W01 65 Medium";
  src:url("../fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot");
  src:url("../fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?#iefix") format("eot"),
      url("../fonts/2cac77ec-9bc0-4ee7-87e4-27650190744f.woff") format("woff"),
      url("../fonts/aaf11848-aac2-4d09-9a9c-aac5ff7b8ff4.ttf") format("truetype"),
      url("../fonts/294099f3-8d00-4676-afc5-5e9d8d43ad69.svg#294099f3-8d00-4676-afc5-5e9d8d43ad69") format("svg");
}
@font-face{
  font-family:"Avenir LT W01 85 Heavy";
  src:url("../fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot");
  src:url("../fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix") format("eot"),
      url("../fonts/7147ec3a-8ff8-4ec9-8c5c-bd1571dc6ae6.woff") format("woff"),
      url("../fonts/d1dc54b2-878d-4693-8d6e-b442e99fef68.ttf") format("truetype"),
      url("../fonts/731dd4d3-64da-427d-ba61-01575b3cf3f7.svg#731dd4d3-64da-427d-ba61-01575b3cf3f7") format("svg");
}

/* ==========================================================================
   Base
   ========================================================================== */
a,
a:hover,
a:focus {
  color: #007ac3;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  color: #444;
  font-family: "Avenir LT W01 65 Medium", Arial, sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 18px;
  color: #a0a0a0;
  color: rgba(0,0,0,0.34);
  font-weight: 600;
  text-transform: uppercase;
}
h2 {
  font-size: 20px;
  margin: 4px 0 0 11px;
}
h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}
h2, h3 {
  color: rgba(0,0,0,0.86);
}
h4 {
  color: 555555;
  margin-top: 0;
}


/* ==========================================================================
   Layout
   ========================================================================== */
body {
  background-image: url("../gfx/bkg-document-orig.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #000D15;
  overflow-y: scroll;
}
#page {
  background-color: #eeeeee;
  padding: 0;
  -webkit-box-shadow: 0px 1px 13px 2px rgba(0,0,0,0.45);
     -moz-box-shadow: 0px 1px 13px 2px rgba(0,0,0,0.45);
          box-shadow: 0px 1px 13px 2px rgba(0,0,0,0.45);
}
  .lt-ie9 #page {
    filter: progid:DXImageTransform.Microsoft.dropShadow (OffX='5' OffY='5', Color='#25000000', Positive='true');
  }
#top {
  height: 46px;
  background-image: url("../gfx/bkg-top.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  font-size: 12px;
}
#nav {
  height: 74px;
}
#top, #nav {
  margin-left: -14px;
}
#menu {
  height: 74px;
  width: 644px;
  background: url("../gfx/bkg-menu.jpg");
}
#channels {
  height: 46px;
}
#msg {
  font-size: 13px;
  color: #afc4d6;
  color: rgba(255,255,255,0.70);
  height: 28px;
  line-height: 28px;
  margin-left: 43px;
}
#main {
  padding: 28px 36px 36px 36px;
}
footer {
  background-color: #7f7f7f !important;
  padding: 0;
}
footer > div {
  padding: 24px 36px;
}
footer #legal {
  text-align: right;
  color: #aaa;
  color: rgba(255,255,255,0.25);
  font-size: 12px;
}


/* ==========================================================================
   Materialize updates
   ========================================================================== */
.btn {
  border-radius: 2px !important;
}
.btn .drop-down-arrow {
  font-size: 8px;
  top: 0;
}
.btn-group {
  box-shadow: none;
  margin: 0;
}
.dropdown-menu {
  padding: 12px 0 7px 0;
  font-size: 12px;
  border-radius: 2px;
  margin-top: 0;
}
  .lt-ie9 .dropdown-menu {
    border-width: 1px;
    border-style: solid;
    border-color: #eee;
    border-top-color: #f5f5f5;
    -ms-filter: progid:DXImageTransform.Microsoft.dropShadow (OffX='5', OffY='5', Color='#19000000', Positive='true');
        filter: progid:DXImageTransform.Microsoft.dropShadow (OffX='5', OffY='5', Color='#19000000', Positive='true');
  }
#channels .dropdown-menu {
  border-radius: 0 0 2px 2px;
}
.dropdown-menu li a,
.dropdown-menu li a:hover,
.dropdown-menu li a:active {
  color: #444;
}
.dropdown-menu li:hover {
  background-color: #f5f5f5;
}
.dropdown-menu .glyphicon {
  padding-top: 2px;
}
:root #channels .open .dropdown-toggle .drop-down-arrow {
  color:#ffcb37 !important;
}
#channels .btn.crnt > span:first-child {
  color:#ffcb37 !important;
}
#utility .btn {
  text-transform: none;
  padding: 7px 8px;
  font-size: 12px;
}
#utility .btn {
  color: #007ac3;
}
#utility .btn:hover {
  text-decoration: underline;
}
#utility .btn .drop-down-arrow {
  top: 1px;
}
#utility .btn-group {
  margin: 8px 36px 0 0;
}
.pnl-ctrls .btn {
  text-transform: none;
  margin: 0;
  padding: 6px 12px 4px 12px;
}
#channels .btn-group {
  margin-right: -4px;
}
#channels .btn {
  padding: 14px 23px 11px 23px;
  color: #fff !important;
  font-family: "Avenir LT W01 85 Heavy", Arial, sans-serif;
  font-weight: 500 !important;
  font-size: 13px !important;
  text-transform: uppercase;
}
#channels .btn .drop-down-arrow {
  font-size: 9px;
  left: 4px;
}
#channels .btn, #channels .btn .drop-down-arrow {
  text-shadow: 0px -1px 2px rgba(0,0,0,0.4) !important;
}
#channels .dropdown-toggle .drop-down-arrow {
  color: #fff !important;
}
#channels .btn-group {
  background: url("../gfx/bkg-nav-hs.jpg") no-repeat top right;
}
#channels .btn-group:last-of-type {
  background: none;
}
  .lt-ie9 #utility .btn,
  .lt-ie9 #channels .btn,
  .lt-ie9 .pnl-ctrls .btn,
  .lt-ie10 #utility .btn,
  .lt-ie10 #channels .btn,
  .lt-ie10 .pnl-ctrls .btn {
    background: none;
    border: none;
  }
.modal-content .modal-header {
  padding-bottom: 31px;
}
.modal-content .modal-footer {
  padding: 0 24px 24px;
}
.lt-ie9 .modal-content .modal-footer, .lt-ie10 .modal-content .modal-footer {
  padding-top: 24px;
}
.modal-content .modal-body {
  padding-bottom: 8px;
}

/* ==========================================================================
   Listomatic
   ========================================================================== */
.inline-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.inline-list ul li {
  display: inline;
  border-width: 0 0 0 1px;
  border-style: solid;
  margin: 0 7px 0 -8px;
  padding: 0 7px 0 8px;
}
.inline-list ul li:first-child {
  border-left: none;
}
.inline-list ul li:last-child {
  margin-right: 0;
}
#utility .inline-list {
  padding: 15px 0 0 0;
}
#utility .inline-list ul li {
  border-color: #ccc;
  border-color: rgba(112,130,143,0.50);
}
#utility > .inline-list ul li:last-child {
    border-right-width: 1px;
}
footer #legal a {
  color: #bbb;
  color: rgba(255,255,255,0.35);
}
footer .inline-list ul li {
  color: #aaa;
  border-color: rgba(255,255,255,0.25);
}
footer .inline-list ul li:last-child {
  padding-right: 0;
}


/* ==========================================================================
   Accessibility
   ========================================================================== */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.bkg-nav-left {
  height: 74px;
  width: 14px;
  background: url("../gfx/bkg-nav-left.jpg");
}
.bkg-util-left {
  height: 46px;
  width: 14px;
  background: url("../gfx/bkg-util-left.png");
}
  .lt-ie9 .bkg-nav-left, .lt-ie9 .bkg-util-left {
    position: relative;
    left: 4px ;
  }
.logo-integracare {
  width: 306px;
  height: 74px;
  background: url("../gfx/logo-integracare.jpg");
}
.logo-integra {
  width: 102px;
  height: 27px;
  background: url("../gfx/logo-integra.jpg");
}


/* ==========================================================================
  #Main
   ========================================================================== */
#page-title {
  margin-bottom: -3px;
}
#page-title div {
  color: #a0a0a0;
  color: rgba(0,0,0,0.34);
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
  .lt-ie9 #page-title h1, .lt-ie9 #page-title div {
    font-weight: 500;
  }
#page-title h1 {
  margin: 0;
}
#page-title div {
  font-size: 13px;
  text-align: right;
}
#page-title span, .pnl-title span {
  margin-left: 24px;
}
.pnl {
  background-color: #fff;
  padding: 0;
  margin-top: 30px;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
.pnl-hdr {
  padding: 16px 12px 14px 12px;
}
.pnl-body {
  padding: 14px 24px 24px 24px;
}
form {
  margin: 0;
}
legend {
  font-size: 14px;
  font-family: "Avenir LT W01 85 Heavy", Arial, sans-serif;
  font-weight: 500 !important;
  text-transform: uppercase;
  padding-bottom: 5px;
  color: rgba(0,0,0,0.76);
}
legend:not(:first-of-type) {
  padding-top: 28px !important;
}
select.form-control {
  color: #bdbdbd;
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none;
}
select::-ms-expand {
  display: none;
}
select.form-control,
select.form-control:focus,
select.form-control.focus {
  padding-bottom: 5px;
}
/* set 'placeholder' color
.pnl form .form-control-wrapper .floating-label {
  color: #bdbdbd;
}
*/
.select-arrow-down:after {
  right: 14px;
  top: 2px;
  font-size: 25px;
  position: absolute;
  content: "\e8a3";
  font-family: "Material-Design-Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  pointer-events: none;
  color: #bdbdbd;
}
select.form-control:focus + .select-arrow-down:after {
  color: #9d9d9d;
}
.lt-ie9 .select-arrow-down:after, .lt-ie10 .select-arrow-down:after {
  content: " ";
}
.pnl-info {
  padding: 6px 12px 0 0;
}
.pnl-info span {
  margin-left: 20px;
}
.pnl-info span, .pnl-ctrls .btn {
  font-weight: 500 !important;
  color: #808080 !important;
}
.col-gutter {
  margin-left: 36px;
}


/* ==========================================================================
  Sign In
   ========================================================================== */
#signin #logo {
  background: url("../gfx/logo-integracare-signin.jpg");
}
#signin #menu {
  background: url("../gfx/bkg-menu-signin.jpg");
}
#signin #msg {
  font-size: 18px;
  color: #eceff2;
  height: 74px;
  line-height: 74px;
}
#signin #main {
  width: 950px;
  height: 634px;
  background: url("../gfx/bkg-signin.jpg");
  display: table-cell;
  vertical-align: bottom;
}
#signin .pnl {
  padding: 36px;
  background-color: rgba(255,255,255,0.86);
  color: rgba(0,0,0,0.86);
}
#signin .pnl form {
  padding-top: 26px;
}
#signin .pnl .benefits {
  color: rgba(0,0,0,0.7);
  font-size: 13px;
  font-weight: 500;
}
#signin h2 {
  margin: 0;
}

#signin h3 {
  margin-top: 0;
  font-size: 18px;
}